In [2]:
import requests
import json
import pandas as pd

In [2]:
test = requests.get("http://www.quandl.com/api/v3/datasets/YALE/SPCOMP?start_date=2018-12-20&end_date=2018-12-31&api_key=KZv99Dx6pP9M_zVY9SzW")

In [3]:
test

In [4]:

response = requests.get('https://www.quandl.com/api/v3/datasets/YALE/SPCOMP.json?start_date=2019-12-31&end_date=2019-12-31&api_key=KZv99Dx6pP9M_zVY9SzW')
response

In [5]:
response.json()

{'dataset': {'id': 539984,
  'dataset_code': 'SPCOMP',
  'database_code': 'YALE',
  'name': 'S&P Composite',
  'description': 'This data set consists of monthly stock price, dividends, and earnings data and the consumer price index (to allow conversion to real values), all starting January 1871. Further info at http://www.econ.yale.edu/~shiller/data.htm.',
  'refreshed_at': '2019-11-09T02:16:54.382Z',
  'newest_available_date': '2019-08-31',
  'oldest_available_date': '1871-01-31',
  'column_names': ['Year',
   'S&P Composite',
   'Dividend',
   'Earnings',
   'CPI',
   'Long Interest Rate',
   'Real Price',
   'Real Dividend',
   'Real Earnings',
   'Cyclically Adjusted PE Ratio'],
  'frequency': 'monthly',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2019-12-31',
  'end_date': '2019-08-31',
  'data': [],
  'collapse': None,
  'order': None,
  'database_id': 175}}

In [6]:
test = test.json()

In [7]:
response = response.json()

In [8]:
resp = requests.get('https://www.quandl.com/api/v3/datasets/YALE/SPCOMP.json?start_date=1921-3-31&end_date=2019-12-31&api_key=KZv99Dx6pP9M_zVY9SzW')
response = resp.json()

In [9]:
data = response['dataset']['data']

In [10]:
list_of_dates = []
for entry in data:
    list_of_dates.append(entry[0])

In [11]:
list_of_prices = []
for entry in data:
    list_of_prices.append(entry[1])

In [16]:
df = pd.DataFrame(list(zip(list_of_dates, list_of_prices)), 
               columns =['Date', 'S&P_500'])

In [17]:
df

            Date  S&P_500
0     2019-08-31  2883.98
1     2019-07-31  2996.11
2     2019-06-30  2890.17
3     2019-05-31  2854.71
4     2019-04-30  2903.80
...          ...      ...
1177  1921-07-31     6.53
1178  1921-06-30     6.55
1179  1921-05-31     7.12
1180  1921-04-30     6.91
1181  1921-03-31     6.88

[1182 rows x 2 columns]

In [16]:
test_2 = requests.get("https://www.quandl.com/api/v3/datasets/ZILLOW/M1300_MPPRSF?start_date=2018-11-30&end_date=2019-01-31&api_key=KZv99Dx6pP9M_zVY9SzW")

In [19]:
test_2.json()

{'dataset': {'id': 46183307,
  'dataset_code': 'M1300_MPPRSF',
  'database_code': 'ZILLOW',
  'name': 'Zillow Home Value Index (Metro): Median Price Of Reduction - Single-Family Residence - Canon City, CO',
  'description': "The Zillow Home Value Index is Zillow's estimate of the median market value of median price of reduction - single-family residence within the metro of Canon City, CO. This data is calculated by Zillow Real Estate Research (www.zillow.com/research) using their database of 110 million homes.",
  'refreshed_at': '2019-03-06T06:12:50.469Z',
  'newest_available_date': '2019-01-31',
  'oldest_available_date': '2010-09-30',
  'column_names': ['Date', 'Value'],
  'frequency': 'monthly',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2018-11-30',
  'end_date': '2019-01-31',
  'data': [['2019-01-31', 3.258064516129],
   ['2018-12-31', 2.710027100271],
   ['2018-11-30', 3.0310380055711]],
  'collapse': None,
  'order': None,
  'database_id': 15274}}

In [3]:
table = pd.read_html('https://en.wikipedia.org/wiki/List_of_presidents_of_the_United_States')

In [4]:
df = pd.DataFrame(table[1])

In [5]:
df.columns = df.columns.droplevel(0)

In [18]:
for i in new:
    i.split("-")

In [22]:
df = pd.DataFrame(df.row.str.split('-',1).tolist(),
                                   columns = ['start_date','end_date'])

AttributeError: 'DataFrame' object has no attribute 'str'